extends template/main

block variables
  - var title = '404'
  - var pageClass = ''



block content
  .not-found
    img(src="static/images/img/404.png" alt="Страницы не существует")
    p Кажется что-то пошло не так! Страница, которую вы запрашиваете, не существует. Возможно она устарела, была удалена, или введен неверный адрес в адресной строке
    a(href="/" class="Button Button--z18")
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.8789 4.76776C7.87891 4.76776 3.60891 7.87776 1.87891 12.2678C3.60891 16.6578 7.87891 19.7678 12.8789 19.7678C17.8789 19.7678 22.1489 16.6578 23.8789 12.2678C22.1489 7.87776 17.8789 4.76776 12.8789 4.76776ZM12.8789 17.2678C10.1189 17.2678 7.87891 15.0278 7.87891 12.2678C7.87891 9.50776 10.1189 7.26776 12.8789 7.26776C15.6389 7.26776 17.8789 9.50776 17.8789 12.2678C17.8789 15.0278 15.6389 17.2678 12.8789 17.2678ZM12.8789 9.26776C11.2189 9.26776 9.87891 10.6078 9.87891 12.2678C9.87891 13.9278 11.2189 15.2678 12.8789 15.2678C14.5389 15.2678 15.8789 13.9278 15.8789 12.2678C15.8789 10.6078 14.5389 9.26776 12.8789 9.26776Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.96159 12.2678C4.6348 16.0951 8.44521 18.7678 12.8789 18.7678C17.3126 18.7678 21.123 16.0951 22.7962 12.2678C21.123 8.44039 17.3126 5.76776 12.8789 5.76776C8.44521 5.76776 4.6348 8.44038 2.96159 12.2678ZM23.8789 12.2678C22.1489 16.6578 17.8789 19.7678 12.8789 19.7678C7.87891 19.7678 3.60891 16.6578 1.87891 12.2678C3.60891 7.87776 7.87891 4.76776 12.8789 4.76776C17.8789 4.76776 22.1489 7.87776 23.8789 12.2678ZM12.8789 18.2678C9.56662 18.2678 6.87891 15.58 6.87891 12.2678C6.87891 8.95548 9.56662 6.26776 12.8789 6.26776C16.1912 6.26776 18.8789 8.95548 18.8789 12.2678C18.8789 15.58 16.1912 18.2678 12.8789 18.2678ZM12.8789 10.2678C11.7712 10.2678 10.8789 11.16 10.8789 12.2678C10.8789 13.3755 11.7712 14.2678 12.8789 14.2678C13.9866 14.2678 14.8789 13.3755 14.8789 12.2678C14.8789 11.16 13.9866 10.2678 12.8789 10.2678ZM7.87891 12.2678C7.87891 15.0278 10.1189 17.2678 12.8789 17.2678C15.6389 17.2678 17.8789 15.0278 17.8789 12.2678C17.8789 9.50776 15.6389 7.26776 12.8789 7.26776C10.1189 7.26776 7.87891 9.50776 7.87891 12.2678ZM9.87891 12.2678C9.87891 10.6078 11.2189 9.26776 12.8789 9.26776C14.5389 9.26776 15.8789 10.6078 15.8789 12.2678C15.8789 13.9278 14.5389 15.2678 12.8789 15.2678C11.2189 15.2678 9.87891 13.9278 9.87891 12.2678Z" fill="white"/>
      </svg>

      | Перейти на главную
  
  include modules/section/contacts

