extends template/main

block variables
  - var title = 'Контакты'
  - var pageClass = ''



block content
  include modules/section/address
  include modules/section/route
  include modules/section/contacts

