extends template/main

block variables
  - var title = 'Информация'
  - var pageClass = ''



block content
  include modules/section/slider
  include modules/section/sort
  include modules/brands/brands
  include modules/section/bestseller
  include modules/section/autocredit
  include modules/section/trusted
  include modules/section/saving-time
  include modules/section/new-cars
  include modules/section/news
  include modules/section/contacts

block script
  script(src="static/js/swiper.min.js")
  script(src="static/js/choices.min.js")
