// Colors
$white:       #ffffff;
$whiteTwo:    #FAFAFA;
$black:       #000000;
$blackText:   #2A2A2A;
$black26:     #262626;
$blackTitle:  #333333;
$red:         #FF3D5F;
$redMenu:     #FF0733;
$redHover:    #D91739;
$gray:        #828282;
$grayTwo:     #A0A0A0;
$grayThree:   #F2F2F2;
$grayFour:    #C4C4C4;
$grayFive:    #AFAFAF;
$fiolet:      #603592;
$activeLink:  #48276F;
$blue:        #0264AF;


// Sizes

$base-font-size: 16px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

$content-size: 1024px;

// Fonts

$FBase: 'Montserrat', sans-serif;
$FUbuntu: 'Ubuntu', sans-serif;