.blockForm {
  &__inner {
    display: flex;
    margin-bottom: 12px;
    gap: 16px;
    @include media(1100) {
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 24px;
    }
    .Button {
      @include media(414) {
        width: 100%;
        flex: 0 0 100%;
        justify-content: center;
      }
    }
  }
  &__info {
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: $gray;
    a {
      span {
        color: $red;
        border-bottom: 1px solid;
      }
      &:hover {
        span { color: $redHover; }
      }
      &:active {
        span { color: $activeLink; }
      }
    }
  }
  &__input {
    flex: 1;
    height: 72px;
    input {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid $white;
      border-radius: 4px;
      padding: 23.5px 16px 23.5px 24px;
      font-size: 18px;
      transition: all .3s;
      @include media(414) {
        padding: 16px;
      }
      &::placeholder {
        color: $gray;
        transition: all .3s;
      }
      &:focus {
        background: rgba(255, 255, 255, 0.5);
        &::placeholder {
          opacity: 0;
        }
      }
      &.form-error {
        border-color: $red;
        color: $red;
        background: rgba(255, 61, 95, 0.2);
        &::placeholder { color: $red; }
      }
    }
    @include media(414) {
      height: 48px;
    }
    @include media(1100) {
      flex: 0 0 100%;
    }
  }
  &__inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    @include media(1100) {
      gap: 8px;
    }
  }
}

.agree {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: $gray;
  span {
    color: $red;
    border-bottom: 1px solid;
  }
  &:hover {
    span { color: $redHover; }
  }
  &:active {
    span { color: $activeLink; }
  }
}

.title-black {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 37px;
  color: $black26;
  margin-bottom: 24px;
}

.section-title {
  @include media(600) {
    font-size: 24px;
    line-height: 30px;
  }
  @include media(414) {
    font-size: 20px;
    line-height: 26px;
  }
}

.breadcrumbs {
  margin: 12px 0;
  @include media(500) {
    margin: 0;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 13px;
    @include media(768) {
      background-color: $blackText;
      padding: 6px 20px;
      margin: 0 -20px;

    }
    a {
      display: flex;
      align-items: center;
      color: $blackTitle;
      line-height: 22px;
      transition: all .3s;
      @include media(768) {
        color: $white;
      }
      &:after {
        content: '|';
        padding: 0 5px;
        color: $blackTitle;
        @include media(768) {
          color: $white;
        }
      }
      &:hover,
      &:active {
        color: $red;
      }
    }
    span { color: $grayFive; }
  }
}

.modelCounter {
  position: fixed;
  right: 0;
  bottom: 20px;
  color: $white;
  text-transform: uppercase;
  padding: 24px 30px;
  background-color: $blackTitle;
  z-index: 999;
  right: -200%;
  transition: right .8s ease;
  &.active { right: 20px; }
}