.Button {
  $this: &;
  display: inline-flex;
  align-items: center;
  padding: 18px 24px;
  cursor: pointer;
  background: $red;
  font-size: 15px;
  white-space: nowrap;
  color: $white;
  font-weight: 800;
  box-shadow: 0px 10px 25px rgba(193, 50, 75, 0.25);
  transition: all .3s;
  @include media(768) {
    padding: 14px 18px;
  }
  svg {
    margin-right: 8px;
  }
  &#{$this}--big {
    padding: 24px 42px;
    @include media(1100) {
      padding: 18px 24px;
    }
  }
  &#{$this}--z18 {
    font-size: 18px;
  }
  &#{$this}--request {
    font-size: 18px;
  }
  &:hover {
    background: $redHover;
    box-shadow: 0px 10px 25px rgba(94, 9, 24, 0.5);
  }
}

.small-btn {
  $this: &;
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 17px 20px;
  border: 1px solid $red;
  color: $red;
  white-space: nowrap;
  outline: none;
  transition: all .3s;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  font-family: $FUbuntu;
  border-radius: 2px;
  @include media(414) {
    width: 100%;
    justify-content: center;
  }
  &:hover {
    box-shadow: inset 0px 0px 10px $red;
  }
  &#{$this}--bg {
    background-color: $red;
    color: $white;
    box-shadow: 0px 10px 25px rgba(193, 50, 75, 0.45);
    &:hover {
      background: $redHover;
      box-shadow: 0px 10px 25px rgba(94, 9, 24, 0.5);
    }
  }
}