.feature {
  &__inner {
    overflow: auto;
  }
  &__table {
    width: 1180px;
    thead {
      tr {
        background-color: #F5F5F5;
        &:nth-child(2) {
          th {
            background-color: $white;
            padding: 6px;
          }
        }
      }
      th {
        padding: 10px 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $red;
        &:first-child { 
          padding-left: 24px;
          color: $black26;
          text-align: left;
        }
        &:last-child { padding-right: 24px; }
      }
    }
    tbody {
      tr {
        &:first-child {
          td {
            &:not(:first-child) { opacity: 0; }
          }
        }
        &:nth-child(odd) {
          background-color: #F5F5F5;
        }
      }
      td {
        padding: 28px 24px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: $blackTitle;
        &:first-child {
          font-size: 14px;
          text-align: left;
          font-weight: normal;
        }
      }

      [data-tr='engine'],
      [data-tr='size'],
      [data-tr='dynamic'],
      [data-tr='drop'],
      [data-tr='fuel'] {
        display: none;
      }
    }
  }
  &-tbody {
    &__top {
      display: flex;
      cursor: pointer;
      font-weight: bold;
      user-select: none;
      font-size: 18px;
      color: $blackTitle;
      &.active {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}