.filters {
  &__list {
    display: none;
    flex-wrap: wrap;
    margin-right: -8px;
    &.active {
      display: flex;
    }
  }
  
  &__link {
    width: calc(12.5% - 8px);
    max-width: calc(12.5% - 8px);
    margin: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    transition: all .3s;
    padding: 0 16px;
    font-weight: bold;
    font-size: 12px;
    color: $grayFive;
    border: 1px solid $gray;
    &:hover {
      background: rgba(255, 61, 95, 0.1);
      border-color: $red;
      color: $red;
    }
    @include media(1100) {
      width: calc(20% - 8px);
      max-width: calc(20% - 8px);
    }
    @include media(768) {
      width: calc(25% - 8px);
      max-width: calc(25% - 8px);
    }
    @include media(600) {
      width: calc(50% - 8px);
      max-width: calc(50% - 8px);
    }
  }
}