.gift {
  &__top {
    height: 120px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__list {
    display: flex;
    @include media(600) {
      flex-wrap: wrap;
      justify-content: center;
    } 
  }
  &__item {
    width: 33.3333%;
    max-width: 33.3333%;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
      @include media(600) {
        margin-bottom: 0;
      }
    }
    &:nth-child(2) {
      @include media(600) {
        margin-right: 0;
      }
    }
    @include media(600) {
      width: calc(50% - 10px);
      max-width: calc(50% - 10px);
      margin-bottom: 20px;
    }
    @include media(414) {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }
  &__body {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $blackTitle;
    padding: 10px;
    background-color: #DFE7E8;
    span {
      @include media(1100) {
        display: block;
      }
    }
    @include media(768) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}