
.options {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
    text-transform: uppercase;
    color: $black26;
    & > * {
      &:not(:last-child) {
        margin-right: 24px;
        @include media(500) {
          margin-right: 0;
          margin-bottom: 24px;
        }
      }
    }
    
    @include media(500) {
      flex-direction: column;
      align-items: flex-start;
    }
    .Button {
      @include media(414) {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

.engine {
  &__title {
    font-size: 20px;
    margin-bottom: 24px;
    @include media(414) {
      font-size: 18px;
    }
  }
  &__content {
    @include media(414) {
      margin: 0 -20px;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: $white;
    &.engine__top--gray {
      background-color: #F5F5F5;
    }
    @include media(650) {
      flex-wrap: wrap;
    }
  }
  &__body {
    display: none;
    padding: 24px 54px;
    background-color: #F5F5F5;
  }
  &__col {
    display: flex;
    align-items: center;
    &:nth-child(1) {
      flex: 0 0 275px;
      & > * {
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
      @include media(1100) {
        flex: 0 0 200px;
      }
      @include media(450) {
        margin-bottom: 12px;
      }
    }
    &:nth-child(2) {
      & > * {
        &:not(:last-child) {
          margin-right: 40px;
          @include media(1100) {
            margin-right: 0;
          }
        }
      }
      @include media(1100) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      } 
    }
    &:nth-child(3) {
      & > * {
        &:not(:last-child) {
          margin-right: 4px;
          @include media(1100) {
            margin-right: 0;
            margin-bottom: 4px;
          }
          @include media(650) {
            margin-bottom: 0;
            margin-right: 4px;
          }
          @include media(414) {
            margin-right: 0;
            margin-bottom: 4px;
          }
        }
      }
      @include media(1100) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      } 
      @include media(650) {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 24px;
      }
      @include media(414) {
        flex-wrap: wrap;
      }
    }
  }
  &__open {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: $blackTitle;
    cursor: pointer;
    font-size: 18px;
    font-family: $FUbuntu;
    span {
      max-width: 220px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include media(1100) {
        max-width: 150px;
      }
    }
    &.active {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &__price {
    font-size: 18px;
    line-height: 22px;
    &.old {
     color: $blackTitle;
     span { text-decoration: line-through; }
    }
    &.new {
      color: $red;
      font-weight: bold;
    }
    @include media(1100) {
      font-size: 15px;
    }
  }

  &__check {
    input {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      & + label {
        display: block;
        position: relative;
        cursor: pointer;
        @include size(24px);
        border: 2px solid $red;
        border-radius: 2px;
        transition: all .3s;
        svg {
          position: absolute;
          left: 53%;
          top: 50%;
          transition: all .2s;
          transform: translate(-50%, -50%) scale(0);
        }
      }
      &:checked {
        & + label {
          background-color: $red;
          svg { transform: translate(-50%, -50%) scale(1); }
        }
      }
    }
  }
  &-info {
    color: $blackTitle;
    &:not(:last-child) {
      margin-bottom: 48px;
    }
    &__title {
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 24px;
    }
    &__inner {
      display: flex;
      gap: 45px;
    }
    &__col {
      width: 33.333%;
      ul {
        font-size: 15px;
        line-height: 21px;
      }
      li {
        margin-bottom: 5px;
      }
    }
  }

}