.partners {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  &__item {
    width: calc(16.666% - 10px);
    max-width: calc(16.666% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
    background: $white;
    border: 1px solid #E5E5E5;
    height: 110px;
    @include media(1000) {
      width: calc(20% - 10px);
      max-width: calc(20% - 10px);
    }
    @include media(768) {
      width: calc(25% - 10px);
      max-width: calc(25% - 10px);
    }
    @include media(600) {
      width: calc(33.333% - 10px);
      max-width: calc(33.333% - 10px);
    }
    @include media(414) {
      width: calc(50% - 10px);
      max-width: calc(50% - 10px);
      height: 85px;
      overflow: hidden;
    }
  }
}