.s-sort {
  padding: 64px 0;
  background: url('../images/img/sort.png') no-repeat;
  @include media(768) {
    padding: 32px 0;
    background: url('../images/img/sort-tablet.png') no-repeat;
  }
  @include media(414) {
    background: url('../images/img/sort-phone.png') no-repeat;
    background-position: top center;
    background-size: cover;
  }
}

.sort {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    .title-black {
      margin-bottom: 0;
      @include media(1000) {
        margin-bottom: 24px;
      }
      @include media(414) {
        margin-bottom: 12px;
      }
    }
    @include media(1000) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 16px;
    }
  }
}


