section.s-argument.section-50 
  .container 
    .argument
      if (buyOut)
        .argument__col
          h2.argument__title Как быстро и выгодно продать свой автомобиль? Это возможно очень просто!
          ul 
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Вы можете продать Ваш автомобиль с пробегом по рыночной цене.
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Оставляете заявку для нашего менеджера.
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Мы проводим экспресс оценку Вашего автомобиля и связываемся с Вами.
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | В случае Вашего согласия в кратчайшие сроки оформим сделку.
        .argument__col
          .argument__title А в чем существенные плюсы сотрудничества с нами? Отвечаем!
          ul 
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Вы полностью избавляетесь от возможных трудностей в поисках покупателя, ответов на телефонные звонки и показы авто.
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Мы формируем цену предложения исходя из аналогичных предложений на рынке.
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Гарантируем 100% конциденциальность Ваших персональных данных.
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Обеспечиваем быстрое оформление в удобное для Вас время.
      else if (tradeIn)
        .argument__col
          h2.argument__title Как быстро и выгодно обменять свой автомобиль в TRADE-IN? Легко!
          ul 
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Вы можете приобрести новый автомобиль в обмен на Ваш автомобиль с пробегом
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Оставляете заявку для нашего менеджера
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Мы проводим экспресс оценку Вашего автомобиля и связываемся с Вами.
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | При необходимости поможем оформить кредит на сумму доплаты.
        .argument__col
          .argument__title А в чем существенные плюсы сотрудничества с нами? Отвечаем!
          ul 
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Мы подбираем для клиентов наиболее оптимальный вариант автомобилей, основываясь на рыночной стоимости Вашего авто и стоимости автомобилей в наличии.
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Предлагаем рассмотреть вариант покупки автомобилей с пробегом в обмен на Ваш автомобиль!
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Гарантируем 100% конциденциальность Ваших персональных данных.
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Обеспечиваем быстрое оформление в удобное для Вас время.
      else
        .argument__col
          h2.argument__title Так когда же может понадобится оформить покупку на авто в кредит?
          ul 
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Ехали за одной моделью машины, а Вам понравилась другая, более высокой стоимости
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Вы внезапно решили приобрести более интересную комплектацию авто и дополнительные опции
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Планировали брать автомобиль с пробегом, а затем решили отдать предпочтение новой модели в наличии на складе
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Оформив в нашем салоне покупку автомобиля в кредит, Вы убедитесь, что это очень удобный и простой способ покупки, без обмана и «подводных камней».
        .argument__col
          .argument__title А есть существенные плюсы сотрудничества с нами? Конечно! Судите Сами:
          ul 
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Мы подбираем для клиентов наиболее оптимальный вариант кредитной программы, основываясь на преимуществах и недостатках предложений банков
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Оказываем Вам помощь в сборе необходимых документов и в оформлении кредитной заявки в банк
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Гарантируем полный контроль над прохождением документов и этапами рассмотрения заявки
            li 
              img(src="static/images/img/check-list.svg" alt="KIA CERATO CLASSIC")
              | Обеспеиваем быстрое оформление в удобное для покупателей время