section.s-feature.section-50
  .container
    .feature
      h2.feature__title.title-black Технические характеристики
      table.feature__table 
        thead
          tr 
            th Характеристика
            th 1.4 МТ 100 л.с.
            th 1.6 МТ 123 л.с.
            th 1.4 AT 100 л.с.
            th 1.6 AT 123 л.с.
          tr
            th
        tbody 
          tr.feature-engine
            td
              .feature-tbody__top
                | Двигатель
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99991 8.08569L9.99991 12.0857L13.9999 8.08569L15.4141 9.49991L9.99991 14.9141L4.58569 9.49991L5.99991 8.08569Z" fill="black"/>
                </svg>
            td
            td
            td
            td
          tr(data-tr="engine")
            td Количество передач
            td 6
            td 6
            td 6
            td 6
          tr(data-tr="engine")
            td Марка топлива
            td АИ-92
            td АИ-92
            td АИ-92
            td АИ-92
          tr(data-tr="engine")
            td Мощность двигателя (л.с.)
            td 100
            td 123
            td 100
          tr(data-tr="engine")
            td Объем двигателя
            td 1.4
            td 1.6
            td 1.4
            td 1.6
          tr(data-tr="engine")
            td Привод
            td передний
            td передний
            td передний
            td передний
          tr(data-tr="engine")
            td Тип двигателя
            td бензиновый
            td бензиновый
            td бензиновый
            td бензиновый
          tr(data-tr="engine")
            td Топливный бак (л)
            td 50
            td 50
            td 50
            td 50
          tr(data-tr="engine")
            td Трансмиссия
            td MT
            td MT
            td AT
            td MT
          tr
            td(style="padding: 6px;")
          tr.feature-size
            td
              .feature-tbody__top
                | Габаритные размеры
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99991 8.08569L9.99991 12.0857L13.9999 8.08569L15.4141 9.49991L9.99991 14.9141L4.58569 9.49991L5.99991 8.08569Z" fill="black"/>
                </svg>
            td
            td
            td
            td
          tr(data-tr="size")
            td Количество передач
            td 6
            td 6
            td 6
            td 6
          tr(data-tr="size")
            td Марка топлива
            td АИ-92
            td АИ-92
            td АИ-92
            td АИ-92
          tr
            td(style="padding: 6px;")
          tr.feature-dynamic
            td
              .feature-tbody__top
                | Динамические характеристики
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99991 8.08569L9.99991 12.0857L13.9999 8.08569L15.4141 9.49991L9.99991 14.9141L4.58569 9.49991L5.99991 8.08569Z" fill="black"/>
                </svg>
            td
            td
            td
            td
          tr(data-tr="dynamic")
            td Количество передач
            td 6
            td 6
            td 6
            td 6
          tr(data-tr="dynamic")
            td Марка топлива
            td АИ-92
            td АИ-92
            td АИ-92
            td АИ-92
          tr
            td(style="padding: 6px;")
          tr.feature-drop
            td
              .feature-tbody__top
                | Подвеска
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99991 8.08569L9.99991 12.0857L13.9999 8.08569L15.4141 9.49991L9.99991 14.9141L4.58569 9.49991L5.99991 8.08569Z" fill="black"/>
                </svg>
            td
            td
            td
            td
          tr(data-tr="drop")
            td Количество передач
            td 6
            td 6
            td 6
            td 6
          tr(data-tr="drop")
            td Марка топлива
            td АИ-92
            td АИ-92
            td АИ-92
            td АИ-92
          tr
            td(style="padding: 6px;")
          tr.feature-fuel
            td
              .feature-tbody__top
                | Расход топлива
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99991 8.08569L9.99991 12.0857L13.9999 8.08569L15.4141 9.49991L9.99991 14.9141L4.58569 9.49991L5.99991 8.08569Z" fill="black"/>
                </svg>
            td
            td
            td
            td
          tr(data-tr="fuel")
            td Количество передач
            td 6
            td 6
            td 6
            td 6
          tr(data-tr="fuel")
            td Марка топлива
            td АИ-92
            td АИ-92
            td АИ-92
            td АИ-92