section.s-filters.section-50
  .container 
    .filters
      .sort__top
        h2.section-title.title-black Популярные фильтры
        .filters__tabs.t-block__tabs
          .filters__tab.t-block__tab.active Стоимость
          .filters__tab.t-block__tab Тип
          .filters__tab.t-block__tab Страна
      .filters__inner
        .filters__list.active
          a(href="#").filters__link от 1500 0000
          a(href="#").filters__link от 780 000
          a(href="#").filters__link от 500 000
          a(href="#").filters__link от 320 000
          a(href="#").filters__link от 999 000
          a(href="#").filters__link от 650 000
          a(href="#").filters__link от 450 000
          a(href="#").filters__link от 1200 000
        .filters__list
          a(href="#").filters__link Малолитражные
          a(href="#").filters__link Внедорожники
          a(href="#").filters__link Универсалы
          a(href="#").filters__link Кроссоверы
          a(href="#").filters__link Минивэны
          a(href="#").filters__link Иномарки
          a(href="#").filters__link Хетчбеки
          a(href="#").filters__link Седаны
        .filters__list
          a(href="#").filters__link Россия
          a(href="#").filters__link Германия
          a(href="#").filters__link США
          a(href="#").filters__link Бельгия
          a(href="#").filters__link Англия