section.s-gallery.section-50
  .container 
    .gallery
      h2.gallery__title.title-black Фотографии, интерьер и экстерьер
      .gallery__list
        .gallery__item
          a(href="static/images/img/interior/1-2x.jpg" data-fancybox="images" data-caption="Интерьер и экстерьер")
            img(src="static/images/img/interior/1.jpg" alt="Интерьер и экстерьер")
        .gallery__item
          a(href="static/images/img/interior/1-2x.jpg" data-fancybox="images" data-caption="Интерьер и экстерьер")
            img(src="static/images/img/interior/2.jpg" alt="Интерьер и экстерьер")
        .gallery__item
          a(href="static/images/img/interior/1-2x.jpg" data-fancybox="images" data-caption="Интерьер и экстерьер")
            img(src="static/images/img/interior/3.jpg" alt="Интерьер и экстерьер")
        .gallery__item
          a(href="static/images/img/interior/1-2x.jpg" data-fancybox="images" data-caption="Интерьер и экстерьер")
            img(src="static/images/img/interior/4.jpg" alt="Интерьер и экстерьер")
        .gallery__item
          a(href="static/images/img/interior/1-2x.jpg" data-fancybox="images" data-caption="Интерьер и экстерьер")
            img(src="static/images/img/interior/5.jpg" alt="Интерьер и экстерьер")
        .gallery__item
          a(href="static/images/img/interior/1-2x.jpg" data-fancybox="images" data-caption="Интерьер и экстерьер")
            img(src="static/images/img/interior/6.jpg" alt="Интерьер и экстерьер")
        .gallery__item
          a(href="static/images/img/interior/1-2x.jpg" data-fancybox="images" data-caption="Интерьер и экстерьер")
            img(src="static/images/img/interior/7.jpg" alt="Интерьер и экстерьер")
        .gallery__item
          a(href="static/images/img/interior/1-2x.jpg" data-fancybox="images" data-caption="Интерьер и экстерьер")
            img(src="static/images/img/interior/8.jpg" alt="Интерьер и экстерьер")