section.s-gift.section-50
  .container
    .gift
      h2.gift__title.title-black подарок на выбор при покупке авто в кредит
      .gift__list
        .gift__item
          .gift__top
            picture
              source(srcset="static/images/img/present/1-phone.png" media="(max-width: 414px)")
              source(srcset="static/images/img/present/1-tablet.png" media="(max-width: 768px)")
              img(src="static/images/img/present/1.png" alt="Комплект зимней резины")
          .gift__body Комплект зимней резины
        .gift__item
          .gift__top
            picture
              source(srcset="static/images/img/present/2-phone.png" media="(max-width: 414px)")
              source(srcset="static/images/img/present/2-tablet.png" media="(max-width: 768px)")
              img(src="static/images/img/present/2.png" alt="Страхование КАСКО")
          .gift__body Страхование КАСКО
        .gift__item
          .gift__top
            picture
              source(srcset="static/images/img/present/3-phone.png" media="(max-width: 414px)")
              source(srcset="static/images/img/present/3-tablet.png" media="(max-width: 768px)")
              img(src="static/images/img/present/3.png" alt="Оплата проезда до автоцентра")
          .gift__body Оплата проезда до автоцентра