section.s-new-cars.section-50
  .container 
    .new-cars
      h2.section-title.title-black.mb-36 новые автомобили
      .new-cars__inner
        .new-cars__col
          a(href="#").new-cars__item
            .new-cars__model Lada
            .new-cars__count 120
          a(href="#").new-cars__item
            .new-cars__model Kia
            .new-cars__count 98
          a(href="#").new-cars__item
            .new-cars__model Renault
            .new-cars__count 74
          a(href="#").new-cars__item
            .new-cars__model Hyundai
            .new-cars__count 34
          a(href="#").new-cars__item
            .new-cars__model Nissan
            .new-cars__count 60
        .new-cars__col
          a(href="#").new-cars__item
            .new-cars__model УАЗ
            .new-cars__count 120
          a(href="#").new-cars__item
            .new-cars__model Ravon
            .new-cars__count 98
          a(href="#").new-cars__item
            .new-cars__model Great Wall
            .new-cars__count 74
          a(href="#").new-cars__item
            .new-cars__model Lifan
            .new-cars__count 34
          a(href="#").new-cars__item
            .new-cars__model Mitsubishi
            .new-cars__count 60
        .new-cars__col
          a(href="#").new-cars__item
            .new-cars__model Skoda
            .new-cars__count 120
          a(href="#").new-cars__item
            .new-cars__model Ssangyong
            .new-cars__count 98
          a(href="#").new-cars__item
            .new-cars__model Suzuki
            .new-cars__count 74
          a(href="#").new-cars__item
            .new-cars__model Toyota
            .new-cars__count 34
          a(href="#").new-cars__item
            .new-cars__model Chery
            .new-cars__count 60
        .new-cars__col
          a(href="#").new-cars__item
            .new-cars__model Haval
            .new-cars__count 120
          a(href="#").new-cars__item
            .new-cars__model Geely
            .new-cars__count 98
          a(href="#").new-cars__item
            .new-cars__model Zotye
            .new-cars__count 74
      .btnShow
        | Показать еще
        <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.49511 0L7.58468 6.00488L13.505 0.166898L14.2071 0.87894L7.58468 7.4093L0.792969 0.712041L1.49511 0Z" fill="#005098"/>
        </svg>
