.s-news.section-50
  .container 
    .news
      .news__item
        .news__top
          img(src="static/images/img/news/1.jpg" alt="Автострахование")
        .news__body
          .news__title Автострахование
          p Наличие страхового полиса – это залог Вашего спокойствия в случае ДТП. Мы сотрудничаем с крупными страховыми компаниями, репутация которых не вызывает сомнений!
          button(type="button" class="Button" data-popup-target="#popupRequest") Отправить заявку
      .news__item
        .news__top
          img(src="static/images/img/news/2.jpg" alt="Регистрация в гибдд")
        .news__body
          .news__title Регистрация в гибдд
          p Регистрация в ГИБДД является обязательным действием при покупке автомобиля. Автохолдинг «Атлант Авто» поможет перерегистрировать Ваш автомобиль без нервов и потери времени.
          button(type="button" class="Button" data-popup-target="#popupRequest") Отправить заявку
      .news__item
        .news__top
          img(src="static/images/img/news/3.jpg" alt="Утилизация")
        .news__body
          .news__title Утилизация
          p Воспользуйтесь программой «Утилизация» в Автохолдинге «Атлант Авто» и получите сертификат-скидку на покупку нового автомобиля на сумму до 40 000 рублей.
          button(type="button" class="Button" data-popup-target="#popupRequest") Отправить заявку
      .news__item
        .news__top
          img(src="static/images/img/news/4.jpg" alt="прием на комиссию")
        .news__body
          .news__title прием на комиссию
          p Не хотите отдавать свой автомобиль за бесценок? Мы гарантируем сохранность Вашего автомобиля и его быструю продажу в оговоренный срок по рыночной цене.
          button(type="button" class="Button" data-popup-target="#popupRequest") Отправить заявку