section.s-review
  .container 
    .review
      .review__inner
        .review__col
          .r-gallery
            a(href="static/images/img/gallery/1.jpg" data-fancybox="images" data-caption="Галерея").r-gallery__big
              img(src="static/images/img/gallery/1.jpg" alt="Галерея")
            .r-gallery__list
              a(href="static/images/img/gallery/1.jpg" data-fancybox="images" data-caption="Галерея").r-gallery__img
                img(src="static/images/img/gallery/2.jpg" alt="Галерея")
              a(href="static/images/img/gallery/1.jpg" data-fancybox="images" data-caption="Галерея").r-gallery__img
                img(src="static/images/img/gallery/3.jpg" alt="Галерея")
              a(href="static/images/img/gallery/1.jpg" data-fancybox="images" data-caption="Галерея").r-gallery__img
                img(src="static/images/img/gallery/4.jpg" alt="Галерея")
              a(href="static/images/img/gallery/1.jpg" data-fancybox="images" data-caption="Галерея").r-gallery__img
                img(src="static/images/img/gallery/5.jpg" alt="Галерея")
        .review__col
          h1.offers__title CHEVROLET AVEO
          .offers__sub CHEVROLET AVEO с пробегом, В НАЛИЧИИ
          .equipment
            .equipment__col
              .equipment__item
                p Пробег
                b 87 347 км.
              .equipment__item
                p Топливо
                b Бензин (инжектор)
              .equipment__item
                p Кузов
                b Хетчбэк
              .equipment__item
                p КПП
                b Автомат
            .equipment__col
              .equipment__item
                p Год выпуска
                b 2012 г.
              .equipment__item
                p Двигатель
                b 1.6 л. (115 л.с.)
              .equipment__item
                p Цвет
                b Голубой
              .equipment__item
                p Привод
                b Передний
      .r-offers
        .r-offers__item
          .r-offers__price
            p В кредит от:
            b 5 730 ₽
          button(type="button" class="Button Button--z18" data-popup-target="#popupCredit")
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.5881 0.698379C22.9878 0.0823177 22.0995 -0.147195 21.2711 0.0943974L1.95522 5.71143C1.08126 5.95423 0.46181 6.65123 0.294941 7.53666C0.124471 8.4378 0.719915 9.58175 1.49783 10.0601L7.53751 13.7722C8.15696 14.1527 8.95649 14.0573 9.4691 13.5402L16.3851 6.58116C16.7333 6.21877 17.3095 6.21877 17.6576 6.58116C18.0058 6.93147 18.0058 7.49922 17.6576 7.8616L10.7296 14.8219C10.2158 15.3377 10.1198 16.141 10.4979 16.7643L14.1882 22.8645C14.6204 23.5893 15.3647 24 16.181 24C16.2771 24 16.3851 24 16.4812 23.9879C17.4176 23.8671 18.1619 23.2269 18.438 22.3209L24.1643 3.02975C24.4164 2.20833 24.1883 1.31444 23.5881 0.698379Z" fill="white"/>
            </svg>
            | В кредит
        .r-offers__item
          .r-offers__price
            p Цена со скидками от:
            b 382 000 ₽
          button(type="button" class="Button Button--z18" data-popup-target="#popupReserve")
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.5881 0.698379C22.9878 0.0823177 22.0995 -0.147195 21.2711 0.0943974L1.95522 5.71143C1.08126 5.95423 0.46181 6.65123 0.294941 7.53666C0.124471 8.4378 0.719915 9.58175 1.49783 10.0601L7.53751 13.7722C8.15696 14.1527 8.95649 14.0573 9.4691 13.5402L16.3851 6.58116C16.7333 6.21877 17.3095 6.21877 17.6576 6.58116C18.0058 6.93147 18.0058 7.49922 17.6576 7.8616L10.7296 14.8219C10.2158 15.3377 10.1198 16.141 10.4979 16.7643L14.1882 22.8645C14.6204 23.5893 15.3647 24 16.181 24C16.2771 24 16.3851 24 16.4812 23.9879C17.4176 23.8671 18.1619 23.2269 18.438 22.3209L24.1643 3.02975C24.4164 2.20833 24.1883 1.31444 23.5881 0.698379Z" fill="white"/>
            </svg>
            | Забронировать