.swiper
  .swiper-wrapper
    .swiper-slide
      picture
        source(srcset="static/images/img/slide-phone.jpg" media="(max-width: 414px)")
        source(srcset="static/images/img/slide-tablet.jpg" media="(max-width: 768px)")
        img(src="static/images/img/slide.jpg" alt="banner")
      .container 
        .swiper-slide__info
          .swiper-slide__title Успейте купить, пока все не разобрали
          p 
           | Последние Volkswagen 
           br
           | в наличии по спеццене
        .swiper-button-prev
        .swiper-button-next
    .swiper-slide
      picture
        source(srcset="static/images/img/slide-phone.jpg" media="(max-width: 414px)")
        source(srcset="static/images/img/slide-tablet.jpg" media="(max-width: 768px)")
        img(src="static/images/img/slide.jpg" alt="banner")
      .container 
        .swiper-slide__info
          .swiper-slide__title Успейте купить, пока все не разобрали
          p 
           | Последние Volkswagen 
           br
           | в наличии по спеццене
        .swiper-button-prev
        .swiper-button-next
    .swiper-slide
      picture
        source(srcset="static/images/img/slide-phone.jpg" media="(max-width: 414px)")
        source(srcset="static/images/img/slide-tablet.jpg" media="(max-width: 768px)")
        img(src="static/images/img/slide.jpg" alt="banner")
      .container 
        .swiper-slide__info
          .swiper-slide__title Успейте купить, пока все не разобрали
          p 
           | Последние Volkswagen 
           br
           | в наличии по спеццене
        .swiper-button-prev
        .swiper-button-next
    
  .swiper-pagination
  
