.s-trusted.section-36
  .container
    .trusted
      .trusted__item
        .trusted__top
          .trusted__author
            .trusted__date 17 ноября 2021 
            span &nbsp; - &nbsp;
            .trusted__name Боков А
          a(href="#").trusted__car 
            | Chevrolet Aveo
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.58594 15.5098L11.5957 10.4294L6.72502 5.48998L8.1491 4.0857L14.4045 10.4294L8.01002 16.9141L6.58594 15.5098Z" fill="#005098"/>
            </svg>
          .trusted__logo
            img(src="static/images/img/trust/1.png" alt="Боков А")
        p Я, Боков Александр Николаевич, был в салоне Атлант-Моторс, приобрёл автомобиль Шевроле...
        a(href="#rev0" data-fancybox="gallery").trusted__read
          span Читать письменно
        .trusted__reviews#rev0(style="display: none;")
          .trusted__img
            img(src="static/images/img/reviews/1.jpg" alt="Отзыв")
            img(src="static/images/img/reviews/2.jpg" alt="Отзыв")
      .trusted__item
        .trusted__top
          .trusted__author
            .trusted__date 17 ноября 2021 
            span &nbsp; - &nbsp;
            .trusted__name Соловьёв И.
          a(href="#").trusted__car 
            | Hyundai Elantra
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.58594 15.5098L11.5957 10.4294L6.72502 5.48998L8.1491 4.0857L14.4045 10.4294L8.01002 16.9141L6.58594 15.5098Z" fill="#005098"/>
            </svg>
          .trusted__logo
            img(src="static/images/img/trust/2.png" alt="Соловьёв И.")
        p Купил автомобиль в Атлант-Моторс. Всем спасибо!...
        a(href="#rev1" data-fancybox="gallery").trusted__read
          span Читать письменно
        .trusted__reviews#rev1(style="display: none;")
          .trusted__img
            img(src="static/images/img/reviews/3.jpg" alt="Отзыв")
            img(src="static/images/img/reviews/4.jpg" alt="Отзыв")
      .trusted__item
        .trusted__top
          .trusted__author
            .trusted__date 17 ноября 2021 
            span &nbsp; - &nbsp;
            .trusted__name Соловьёв И.
          a(href="#").trusted__car 
            | Hyundai Elantra
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.58594 15.5098L11.5957 10.4294L6.72502 5.48998L8.1491 4.0857L14.4045 10.4294L8.01002 16.9141L6.58594 15.5098Z" fill="#005098"/>
            </svg>
          .trusted__logo
            img(src="static/images/img/trust/2.png" alt="Соловьёв И.")
        p Купил автомобиль в Атлант-Моторс. Всем спасибо!...
        a(href="#rev2" data-fancybox="gallery").trusted__read 
          span Читать письменно
        .trusted__reviews#rev2(style="display: none;")
          .trusted__img
            img(src="static/images/img/reviews/1.jpg" alt="Отзыв")
            img(src="static/images/img/reviews/2.jpg" alt="Отзыв")
        .trusted__logo
          img(src="static/images/img/trust/2.png" alt="Соловьёв И.")
      .trusted__item
        .trusted__top
          .trusted__author
            .trusted__date 17 ноября 2021 
            span &nbsp; - &nbsp;
            .trusted__name Соловьёв И.
          a(href="#").trusted__car 
            | Hyundai Elantra
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.58594 15.5098L11.5957 10.4294L6.72502 5.48998L8.1491 4.0857L14.4045 10.4294L8.01002 16.9141L6.58594 15.5098Z" fill="#005098"/>
            </svg>
          .trusted__logo
            img(src="static/images/img/trust/2.png" alt="Соловьёв И.")
        p Купил автомобиль в Атлант-Моторс. Всем спасибо!...
        a(href="#rev3" data-fancybox="gallery").trusted__read 
          span Читать письменно
        .trusted__reviews#rev3(style="display: none;")
          .trusted__img
            img(src="static/images/img/reviews/3.jpg" alt="Отзыв")
            img(src="static/images/img/reviews/4.jpg" alt="Отзыв")
        .trusted__logo
          img(src="static/images/img/trust/2.png" alt="Соловьёв И.")
      .trusted__item
        .trusted__top
          .trusted__author
            .trusted__date 17 ноября 2021 
            span &nbsp; - &nbsp;
            .trusted__name Соловьёв И.
          a(href="#").trusted__car 
            | Hyundai Elantra
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.58594 15.5098L11.5957 10.4294L6.72502 5.48998L8.1491 4.0857L14.4045 10.4294L8.01002 16.9141L6.58594 15.5098Z" fill="#005098"/>
            </svg>
          .trusted__logo
            img(src="static/images/img/trust/2.png" alt="Соловьёв И.")
        p Купил автомобиль в Атлант-Моторс. Всем спасибо!...
        a(href="#rev4" data-fancybox="gallery").trusted__read 
          span Читать письменно
        .trusted__reviews#rev4(style="display: none;")
          .trusted__img
            img(src="static/images/img/reviews/1.jpg" alt="Отзыв")
            img(src="static/images/img/reviews/2.jpg" alt="Отзыв")
      .trusted__item
        .trusted__top
          .trusted__author
            .trusted__date 17 ноября 2021 
            span &nbsp; - &nbsp;
            .trusted__name Соловьёв И.
          a(href="#").trusted__car 
            | Hyundai Elantra
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.58594 15.5098L11.5957 10.4294L6.72502 5.48998L8.1491 4.0857L14.4045 10.4294L8.01002 16.9141L6.58594 15.5098Z" fill="#005098"/>
            </svg>
          .trusted__logo
            img(src="static/images/img/trust/2.png" alt="Соловьёв И.")
        p Купил автомобиль в Атлант-Моторс. Всем спасибо!...
        a(href="#rev5" data-fancybox="gallery").trusted__read 
          span Читать письменно
        .trusted__reviews#rev5(style="display: none;")
          .trusted__img
            img(src="static/images/img/reviews/1.jpg" alt="Отзыв")
            img(src="static/images/img/reviews/2.jpg" alt="Отзыв")
            
    .btnShow
      | Показать еще
      <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.49511 0L7.58468 6.00488L13.505 0.166898L14.2071 0.87894L7.58468 7.4093L0.792969 0.712041L1.49511 0Z" fill="#005098"/>
      </svg>
