.brands
  .container 
    .brands__list
      - let url = 'static/images/img/model/';
      - let alt = 'model';
      each val, key in Array(22)
        - let count = key+1
        .brands__item
          img(src=url + count + '.png', alt=alt)
      .brands__item.brands__show
        .brands__btn
          span еще
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.49511 8.29291L10.5847 14.2978L16.505 8.45981L17.2071 9.17185L10.5847 15.7022L3.79297 9.00495L4.49511 8.29291Z" fill="white"/>
          </svg>
          span скрыть

      
        