footer.footer
  .footer__top
    .container
      nav.footer-nav
        .footer-nav__item
          .footer-nav__title Меню
          a(href="#") Новые автомобили
          a(href="#") Авто с пробегом
          a(href="#") Кредит
          a(href="#") Trade-in
          a(href="#") Распродажа
          a(href="#") 
            | Отзывы 
            span (120)
          a(href="#") Контакты
        .footer-nav__item
          .footer-nav__title Страна производства
          a(href="#") Французские авто
          a(href="#") Российские авто
          a(href="#") Корейские авто
          a(href="#") Китайские авто
          a(href="#") Немецкие авто
          a(href="#") Японские авто
        .footer-nav__item
          .footer-nav__title Тип автомобилей
          a(href="#") Малолитражные
          a(href="#") Внедорожники
          a(href="#") Универсалы
          a(href="#") Кроссоверы
          a(href="#") Минивэны
          a(href="#") Иномарки
          a(href="#") Хетчбэки
          a(href="#") Седаны
        .footer-nav__item
          .footer-nav__title Стоимость
          a(href="#") до 400 000 ₽
          a(href="#") до 500 000 ₽
          a(href="#") до 600 000 ₽
          a(href="#") до 800 000 ₽
          a(href="#") до 900 000 ₽
          a(href="#") до 1 000 000 ₽
          a(href="#") до 700 000 ₽
          a(href="#") от 1 000 000 ₽
      nav.footer-nav
        a(href="#").footer-nav__link Новые автомобили
        a(href="#").footer-nav__link Авто с пробегом
        a(href="#").footer-nav__link Распродажа
        a(href="#").footer-nav__link Кредит
        a(href="#").footer-nav__link Trade-in
        a(href="#").footer-nav__link 
          | Отзывы 
          span (120)
        a(href="#").footer-nav__link Контакты
        
  .footer__bottom
    .container
      p Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Цены на сайте представлены с учетом скидки на покупку автомобиля в кредит по государственной программе льготного автокредитования и реализации Вашего автомобиля по системе trade-in.  Для получения подробной информации о стоимости автомобилей, пожалуйста, обращайтесь к менеджерам по продажам.
      b ООО «Русфинанс Банк», ген. лицензия ЦБ РФ №1792 от 13.02.2013




